body {
    background:linear-gradient(#fcca88, #fcd7a8, #fce5c8,#fcf1e4);
    font-family: 'Ubuntu', sans-serif;

}

.forma {
    background-color: #e4f3ff;
    width:60%;
    margin:30px auto;

}

.error {
    color: #f00;
    font-weight:700;
    font-size:20px;
}

label {
    display:block;
    font-weight: 700;
    font-size:20px;
    margin:12px;
    margin-bottom:5px;
    font-family: 'Ubuntu', sans-serif;

}
input[type="text"], input[type="email"], input[type="number"] {
    width:300px;
    font-size:18px;
    font-family: 'Ubuntu', sans-serif;

}
input[type="submit"] {
    display:block;
    width:200px;
    height:40px;
    margin: 20px auto;
    text-transform:uppercase;
    background: linear-gradient(#ff0000,#fd6666,#fd9e9e);
    font-weight:700;
    font-family: 'Ubuntu', sans-serif;

}
.rez {
    width:80%;
    height:auto;
    background-color: #e4f3ff;
    font-family: 'IBM Plex Serif', serif;



}